# Root
node_modules
dist
.env
.env.*
!.env.example

# Frontend
fe/node_modules
fe/dist

# Backend
be/node_modules
be/__pycache__
be\ai_service\__pycache__
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
